modules = ["python-3.11", "web"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Telegram Sender"

[[workflows.workflow]]
name = "Telegram Sender"
author = 44938069
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
